.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FBD090;
  font-family:'Do Hyeon', sans-serif;
  color: #004643;
}
header{
  background-color: #FBD090;
}
.header-ghost{
  height: 40px;
  padding-right: 10px;
}

.header-subbusters,
.header-subbusters a:visited{
  color: #004643;
  font-family:'Do Hyeon', sans-serif;
}