.container{
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  width: 200px;
  border-bottom: 1px solid black;
  align-items: center;
  margin: 30px auto;

}

.delete-button{
  width: 250px;
  background: #F2F2F2;
  border: 1px solid #ABD1C6;
  box-sizing: border-box;
  border-radius: 5px;
  display:flex;
  justify-content: center;
  text-align:center;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  margin-top: 50px;
  
}
.delete-link{
  display: flex;
  justify-content: center;
  border: none;
  background-color: transparent;
  font-size: 17px;
}

.paragraph-text{
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  width: 300px;
  color: #004643;
  font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 20px;
}

.dashboard-button,
.delete-button,
.delete-link {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 40px;
  
} 

.dashboard-button{
  width: 250px;
  background: #F2F2F2;
  border: 1px solid #ABD1C6;
  box-sizing: border-box;
  border-radius: 5px;
  display:flex;
  justify-content: center;
  text-align:center;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  margin-top: 50px;
}

