@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Mulish:wght@400;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
