.subscription-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.subscription-info img {
    width: 20px;
    height: 100%;
    padding-left: 10px;
}

.logo-icon{
  padding-right: 10px;
}

.props-name,
.props-billing-date,
.props-amount {
 
  width: 100px;
}

.props-name{
  padding-left: 15px;
}