.user-header-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#FBD090;
  }

.never-be-haunted {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin-top: 0;
}

.desktop-extra-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Do Hyeon', sans-serif;
  margin-top: 40px;
}

.input-login {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
  justify-content: flex-start;
}
 
.input-email {
  display: flex;
}

.input-email p,
.input-password p {
  margin-bottom: 0;
}

.input-email p {
  margin-right: 60px;
}

.input-password p {
  margin-right: 25px;
}


.input-password {
  display: flex;
  margin-top: 25px;
  justify-content: flex-start;
}

.input-email-border,
.input-password-border {
  width: 300px;
  border-bottom: 1px solid #004643;
  display: flex;
}

.new-member {
  position: absolute;
  bottom: 50px; 
  width: 180px;
}

.login-button {
  background: #F2F2F2;
  border: 1px solid #ABD1C6;
  box-sizing: border-box;
  border-radius: 5px;
  color: #004643;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  margin-top: 50px;
}


@media only screen and (max-width: 600px) {
  .desktop-extra-logo {
    display: none;
  }

  .input-login {
    margin-top: 70px;
  }
}

