.body-create{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
 
.add-subscription-title{
  margin-top: 100px;
  color: black;
  font-weight: bold;

}


.create-form {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 250px;
  width: 625px;
  justify-content: space-between;
  margin: auto;
  flex: 1 0 auto;
}

.create-label{
  width: 100px;
}

.create-buttons{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 625px;
}

input, textarea {
  display: flex ;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 100px;
  width: 200px ;
  background: #F2F2F2;
  border: transparent;
  color: #707070;
  text-indent: 10px;
  height: 26px;

}
.create-website{
  display: flex;
  align-items: center;
}

.input-amount {
  font-size: 13px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.input-name {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 100px;
  background: #F2F2F2;
  color: #C4C4C4;
  width: 200px ;
}


.create-dropdown {
  appearance: none;
  background-image: url(https://res.cloudinary.com/alienora/image/upload/v1595523020/icon_1_uzvvbm.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  background-color:#F2F2F2;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 15px ;
  border: transparent;
  border-radius: 100px;
  color: #707070;
  width: 200px ;
  padding: 0;
  height: 26px;
}

.input-auto-renew {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  border: transparent;
  border-radius: 100px;
  background-color: #F2F2F2;
  color: #C4C4C4;
  width: 200px ;
}

.input-amount {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 100px;
  background-color: #F2F2F2;
  color: #C4C4C4;
  width: 200px ;
  height: 26px;
}

.input-billing-date {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 100px;
  background-color: #F2F2F2;
  color: #C4C4C4;
  height: 26px;
}

.input-logo-url {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 100px;
  background-color: #F2F2F2;
  color: #C4C4C4;
}

.input-website-url {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 100px;
  background-color: #F2F2F2;
  color: #C4C4C4;
}

.submit-button,
.submit-button a:link,
.submit-button a:visited {
  display: flex;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color:#004643;
  margin-top:4px;
  background-color:  #F2F2F2;
  border: 1px solid #ABD1C6;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}


@media only screen and (max-width: 600px) {


.create-form {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 250px;
  height: auto;
  padding-top: 10px;
  margin-bottom: 25px;
  align-items: start;
  margin-top: 10px;
 
}
.create-buttons{
  display:flex;
  flex-direction: row;
  width: 250px;
  margin-bottom:50px;
}
.create-website{
  flex-direction: column;
  align-items: start;
}


.add-subscription-title{
  font-size: 18px;
  margin-top: 40px;
}

input {
  width: 250px;
  margin-bottom: 10px;
}
.input-name{
  width: 250px;
  margin-bottom: 10px;
}
.input-auto-renew {
  width: 254px;
}
.input-amount{
  width: 254px;
}
.input-billing-cycle{
  width: 254px;
}

.create-dropdown{
  width: 254px;
  height: 26px;
  
}


}