.create-form {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
  justify-content: space-evenly;
  margin: auto;
  flex: 1 0 auto;
  padding: 20px;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

input, textarea {
  font-size: 48px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

textarea {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-charge {
  font-size: 48px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.input-category {
  padding-left: 10px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-subscription {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-billing-cycle {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-auto-renew {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-amount {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-last-used {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}


.submit-button {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  margin-top: 40px;
  background-color: black;
  color: white;
  border: none;
  box-shadow: 2px 2px 10px 2px #CECECE;
  cursor: pointer;
}
