.body-create{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}
 
.add-subscription-title{
  margin-top: 50px;
  margin-bottom: 50px;
  color: black;
  font-weight: bold;
}

.create-form {
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 625px;
  justify-content: space-between;
  margin: auto;
}

.create-label{
  display: flex;
  align-items: center;
  width: 110px;
  padding: 5px;
}


.input-container{
  display:flex;
  align-items: center;
  margin-bottom: 23px;
}

input, textarea {
  display: flex ;
  font-size: 17px;
  border-radius: 100px;
  width: 200px ;
  background: #F2F2F2;
  border: transparent;
  color: #707070;
  text-indent: 18px;
  height: 26px;
  align-items: center;


}

.input-name {
  border-radius: 100px;
  background: #F2F2F2;
  color: #707070;
  width: 200px ;
  height: 24px;
}


.create-dropdown {
  appearance: none;
  background-image: url(https://res.cloudinary.com/alienora/image/upload/v1595523020/icon_1_uzvvbm.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-position-y: center;
  background-color:#F2F2F2;
  font-size: 17px;
  text-indent: 18px ;
  border: transparent;
  border-radius: 100px;
  color: #707070;
  width: 200px ;
  padding: 0;
  height: 26px;
  align-items: center;
}



.input-auto-renew {
  border: transparent;
  border-radius: 100px;
  background-color: #F2F2F2;
  color: #707070;
  width: 200px ;
  align-items: center;
}

.input-amount {
  border-radius: 100px;
  background-color: #F2F2F2;
  color: #707070;
  width: 200px ;
  height: 24px;
  align-items: center;

}

.input-billing-date {
  border-radius: 100px;
  background-color: #F2F2F2;
  color: #707070;
  height: 24px;
}

.input-website-url {
  border-radius: 100px;
  background-color: #F2F2F2;
  color: #707070;
  text-indent: 18px;
  height: 24px;
}


.create-buttons{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 275px;
  margin: 10px 0;
}


.submit-button,
.submit-button a:link,
.submit-button a:visited {
  display: flex;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color:#004643;
  margin-top:4px;
  background-color:  #F2F2F2;
  border: 1px solid #ABD1C6;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}


@media only screen and (max-width: 600px) {


.create-form {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 250px;
  height: auto;
  padding-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  
}


.create-buttons{
  display:flex;
  flex-direction: row;
  width: 275px;
  margin-bottom:50px;
}


.add-subscription-title{
  font-size: 18px;
  margin-top: 10px;
  padding-top: 25px;

}

input {
  width: 200px;
  margin-bottom: 10px;
}
.input-name{
  width: 200px;
  margin-bottom: 10px;
}
.input-auto-renew {
  width: 204px;
}
.input-amount{
  width: 204px;
}
.input-billing-cycle{
  width: 204px;
}

.create-dropdown{
  width: 204px;
  height: 26px;
  margin-bottom: 10px;
  
}


}